---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Container from "../components/Container.astro";
import Linkedin from "../icons/Linkedin.astro";
import GitHub from "../icons/GitHub.astro";
import Cv from "../icons/Cv.astro";
import ExperienceIcon from "../icons/ExperienceIcon.astro";
import Social from "../components/Social.astro";
import Email from "../icons/Email.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Code from "../icons/Code.astro";
import CodeOff from "../icons/CodeOff.astro";
import AboutMe from "../components/AboutMe.astro";
import Contact from "../components/Contact.astro";
import Rain from "../components/Rain.astro";
import { getI18N } from "../i18n/";
const { currentLocale = "es" } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.SEO_TITLE}>
  <main>
    <Rain />
    <Container
      id="scroll-animation"
      class="lg:w-[740px] mx-auto my-44 mb-30 w-[300px]"
    >
      <img
        class="rounded-full size-32 mb-5 cursor-pointer transition duration-300 transform hover:scale-110"
        src="/img/fotoPerfilLinkedin.jpg"
        alt="mi foto"
      />
      <h1
        class="text-white sm:text-xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 text-wrap"
      >
        {i18n.INTRO_TEXT}<a
          href="https://www.linkedin.com/in/rodrigo-ameri-5523911ab/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
        >
          <Badge>{i18n.INTRO_BADGE}</Badge>
        </a>
      </h1>

      <h2 class="text-xl lg:text-xl text-wrap max-w-[700px] pb-6 lg:pb-8">
        <span class="text-yellow-200/90">{i18n.INTRO_TEXT2}</span>
        <span class="opacity-80">{i18n.INTRO_TEXT3}</span>
      </h2>

      <nav class="flex flex-row gap-4 mt-2 flex-wrap">
        <Social href="https://www.linkedin.com/in/rodrigo-ameri">
          <Linkedin class="size-2 lg:size-5" />
          Linkedin
        </Social>

        <Social href="https://github.com/TTequilaSunryze">
          <GitHub class="size-2 lg:size-5" />
          GitHub
        </Social>

        <Social
          href="../CV-Desarrollador-Web-EN.pdf"
          download="CV-Desarrollador-Web-EN.pdf"
        >
          <Cv class="size-2 lg:size-5" />
          Descargar CV
        </Social>

        <Social href="mailto:Rodrigoamericarp@gmail.com">
          <Email class="size-2 lg:size-5" />
          Rodrigoamericarp@gmail.com
        </Social>
      </nav>
    </Container>
    <div class="my-36">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 640 640"
        class="mx-auto size-10 opacity-50 animate-bounce"
        id="arrow_scroll"
        ><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
        <path
          fill="#FFD43B"
          d="M297.4 566.6C309.9 579.1 330.2 579.1 342.7 566.6L502.7 406.6C515.2 394.1 515.2 
            373.8 502.7 361.3C490.2 348.8 469.9 348.8 457.4 361.3L352 466.7L352 96C352 78.3 
            337.7 64 320 64C302.3 64 288 78.3 288 96L288 466.7L182.6 361.3C170.1 348.8 149.8 
            348.8 137.3 361.3C124.8 373.8 124.8 394.1 137.3 406.6L297.3 566.6z"
        ></path>
      </svg>
    </div>
    <Container id="Experiencia">
      <h2 class="text-2xl font-semibold flex gap-x-2 items-center mb-5">
        <ExperienceIcon class="size-6" />
        {i18n.EXPERIENCE}
      </h2>
    </Container>
    <Container>
      <Experience />
    </Container>
    <Container id="scroll-animation" class="scroll-animation">
      <h2
        id="projects"
        class="text-2xl font-semibold flex gap-x-2 items-center mb-5"
      >
        <Code class="size-6" />
        Projects
      </h2>
      <Projects />
      <CodeOff class="size-6" />
    </Container>
    <Container id="scroll-animation" class="scroll-animation">
      <div id="contact" class="lg:w-[740px] mx-auto w-[300px]">
        <h2
          class="sm:text-xl text-md lg:text-2xl w-full font-semibold text-yellow-200/90 my-10"
        >
          {i18n.CONTACT}
        </h2>
        {i18n.CONTACT_TEXT1}
        <Contact />
      </div>
    </Container>
    <Container id="scroll-animation" class="scroll-animation">
      <div id="about" class="lg:w-[740px] mx-auto w-[300px]">
        <h2
          class="sm:text-xl text-md lg:text-2xl w-full font-semibold text-yellow-200/90 my-10"
        >
          {i18n.ABOUT_ME}
        </h2>
        <div class="flex flex-col sm:flex-row w-full">
          <AboutMe />
        </div>
      </div>
    </Container>
  </main>
</Layout>
--- IGNORE ---
<script>
  const arrowScroll = document.getElementById("arrow_scroll");

  if (!arrowScroll) return;
  window.addEventListener("scroll", () => {
    if (window.scrollY > 100) {
      arrowScroll.style.opacity = "0";
    } else {
      arrowScroll.style.opacity = "0.5";
    }
  });
</script>
