---
import htmlIcon from "../icons/htmlIcon.astro";
import cssIcon from "../icons/cssIcon.astro";
import javascriptIcon from "../icons/javascriptIcon.astro";
import tailwindcssIcon from "../icons/tailwindcssIcon.astro";
import astroIcon from "../icons/astroIcon.astro";
import { getI18N } from "../i18n/";
const { currentLocale = "es" } = Astro;
const i18n = getI18N({ currentLocale });

const TAGS = {
  HTML: {
    color: "text-red-500",
    name: "HTML",
    class: "bg-red-500 text-white",
    icon: htmlIcon,
  },
  CSS: {
    color: "text-blue-500",
    name: "CSS",
    class: "bg-blue-500 text-white",
    icon: cssIcon,
  },
  JAVASCRIPT: {
    color: "text-yellow-500",
    name: "JAVASCRIPT",
    class: "bg-yellow-500 text-white",
    icon: javascriptIcon,
  },
  ASTRO: {
    color: "text-purple-500",
    name: "ASTRO",
    class: "bg-purple-500 text-white",
    icon: astroIcon,
  },
  TAILWINDCSS: {
    color: "text-cyan-500",
    name: "TAILWINDCSS",
    class: "bg-cyan-500 text-white",
    icon: tailwindcssIcon,
  },
};
const PROJECTS = [
  {
    title: i18n.PROJETS_TITLE1,
    description: i18n.PROJETS_DESCRIPTION1,
    image: "/projects/ameris-web.webp",
    link: "https://ameris-brewhouse-gq38.vercel.app/",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: i18n.PROJECT_TITLE2,
    description: i18n.PROJECT_DESCRIPTION2,
    image: "/projects/calculadoraJs.png",
    link: "https://calculadora-js-three-phi.vercel.app/",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: i18n.PROJECT_TITLE3,
    description: i18n.PROJECT_DESCRIPTION3,
    image: "/projects/climaJs.png",
    link: "https://clima-js-eight.vercel.app/",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: i18n.PROJECT_TITLE4,
    description: i18n.PROJECT_DESCRIPTION4,
    image: "/projects/buscadorPelis.png",
    link: "https://buscador-pelis-weld.vercel.app/",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: i18n.PROJECT_TITLE5,
    description: i18n.PROJECT_DESCRIPTION5,
    image: "/projects/adivinanzaJs.png",
    link: "https://adivinanza-js.vercel.app/",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image, link }) => (
    <article class="ms-4">
      <h3 class="text-2xl font-semibold text-yellow-200/90 mb-2 mt-10">
        {title}
      </h3>
      <p class="mb-4 text-lg font-normal text-pretty">{description}</p>
      <ul class="text-base flex flex-row flex-wrap gap-x-6 gap-y-2 mb-4">
        {tags.map((tag) => (
          <li class="">
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-3`}
            >
              {tag.name}
              <tag.icon class="size-5 flex" />
            </span>
          </li>
        ))}
      </ul>
      <a href={link} target="_blank">
        <img
          class="rounded shadow-2xl shadow-white/20 size-66 hover:shadow-yellow-200/50 hover:scale-105 transition-transform duration-300 ease-in-out"
          src={image}
          alt={`Captura de ${image}`}
        />
      </a>
    </article>
  ))
}
